$color-primary: #114538;
$color-acentotomato: #465856;
$color-secondary: #0e8466;
$color-bg-container: #5E8D83;
$color-bg-secondary: #D2E1CC;
$color-acento: #BB8F70;
$color-dark: #413F42;
$color-light: #F5F6F6;
$font-primary: 'Capriola', sans-serif;
$title-font: 500 1rem/1.5 'Capriola', sans-serif;
$subtitle-font: 400 2.2rem/1.5 'Sacramento', cursive;
$paragraph-font: 400 0.85rem/1.7 'Capriola', sans-serif;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}


h1 {
  font: $title-font;
  font-size: 0.9rem;
}

h2 {
  font: $subtitle-font;
}

h3 {
  font-family: 'Capriola', sans-serif;
  font-size: 0.9em;
  font-weight: 300;
}

p {
  font: $paragraph-font;
  color: $color-dark;
}

body {
  background-color: $color-bg-secondary;
}

main {
  width: 100%;
  background-color: $color-light;
  align-items: center;
  align-self: center;
  padding-top: 3rem;
  border-radius: 0 0 4rem 4rem;
}

.titulo__seccion {
  width: 100%;
  color: $color-dark;
  text-align: center;
  margin-bottom: 1rem;
}


@media (min-width: 768px) and (orientation:landscape) {

  main {
    padding-top: 6rem;
  }

  h1 {    
    font-size: 1rem;
  }
}