$color-primary: #E25821;
$color-acentotomato: #C04526;
$color-secondary:#F3BA03;
$color-bg-container: #BB8F70;
$color-bg-secondary: #E8E0D7;
$color-dark: #252426;
$color-light: #FBF9F7;
$font-primary: 'Roboto Mono', monospace;
$title-font: 500 1.1rem/1.5 'Roboto Mono', monospace;
$subtitle-font: 400 1rem/1.5 'Roboto Mono', monospace;
$paragraph-font: 400 0.8rem/2 'Roboto Mono', monospace;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}


h1 {
  font: $title-font;  
}

h2 {
  font: $subtitle-font;
}

h3 {
  font-family: $font-primary;
  font-size: 0.9rem;
  font-weight: 400;
}

p {
 font: $paragraph-font;
 color: $color-dark;
}

body {
  background-color: $color-light;
}

main {
  width: 100%;
  background-color: $color-light;
  align-items: center;
  align-self: center;
  padding-top: 2rem;  
}

.titulo__seccion {
  width: 100%;
  color: $color-primary;  
  text-align: center; 
  font-size: medium; 
}


@media (min-width: 768px) and (orientation:landscape) {

  main{
    padding-top: 4rem;
  }
}
