.acerca {  
  width: 90%;
  height: 70rem;
  min-width: 290px;
  margin: 0 auto;
  padding: 1rem 0;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 2fr 4fr;
  align-items: center;
  justify-items: center;
  justify-content: center;
  justify-self: center;
  text-align: center;

    &__subtitulo{
    color:$color-primary;
    font-size: x-large;  
    }

    &__parrafo {
      width: 80%;
      max-width: 1000px;
      height: 35rem;  
      margin: 0 auto;
      display: grid;
      grid-template-rows: 1fr 1fr 4fr;
      align-items: center;
        
        h3{
          font-size: medium;
          color: $color-bg-container;
        }
    
        p {
          text-align: center;
          font: $paragraph-font;          
        }  
    }

    .carrusel {
      width: 80%;
      height: auto;
      max-width: 24rem;
    }
}


@media (min-width: 768px) and (orientation:landscape) {

    .acerca {
    height: 75rem;
    grid-template-rows: 1fr 1fr 4fr 6fr;

      .carrusel {
        width: 60%;
        max-width: 30rem;
      }

      &__subtitulo{
        color:$color-primary;
        font-size: xx-large;
      }
          
      &__parrafo {
        width: 80%;
        max-width: 1000px;
        height: 22rem;
        margin: 4rem auto;
      }
    }    
}



@media (min-width: 1200px) and (orientation:landscape) {

  .acerca {
    height: 80rem;
    grid-template-rows: 1.5fr 1.5fr 4fr 6fr;

    .carrusel {
      width: 60%;
      max-width: 50rem;
    }

    &__parrafo {
      width: 80%;
      max-width: 1000px;
      height: auto;
      margin: 4rem auto;
    }
  } 
}

