.acerca {
  width: 90%;
  height: 65rem;
  min-width: 18.5rem;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 2fr 4fr;
  align-items: center;
  justify-items: center;
  justify-content: center;
  justify-self: center;
  text-align: center;

  &__subtitulo {
    color: $color-primary;
    font-size: small;
  }

  &__parrafo {
    width: 95%;
    max-width: 1000px;
    height: 30rem;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr 5fr;
    align-items: center;

    h3 {
      font-size: medium;
      color: $color-bg-container;
    }

    p {
      text-align: center;
      font: $paragraph-font;
    }
  }

  .carrusel {
    width: 95%;
    height: auto;
    max-width: 24rem;
    border-radius: 1rem;   

    img{
      border-radius: 1rem;
    }
  }  
}


@media (min-width: 768px) and (orientation:landscape) {

  .acerca {
    height: 65rem;
    grid-template-rows: 1fr 1fr 4fr 6fr;

    .carrusel {
      width: 80%;
      max-width: 35rem;
      margin-top: 2rem;
    }

    &__subtitulo {
      color: $color-primary;
      font-size: medium;
    }

    &__parrafo {
      width: 90vw;
      max-width: 40rem;
      height: 22rem;
      margin: 4rem auto;
    }
  }
}


@media (min-width: 1200px) and (orientation:landscape) {

  .acerca {
    height: 80rem;
    grid-template-rows: 1fr 1fr 4fr 6fr;

    .carrusel {
      width: 70%;
      max-width: 40rem;
    }

    &__parrafo {
      width: 90vw;
      max-width: 55rem;
      height: 20rem;
      margin: 4rem auto;
    }
  }
}