.contacto {
  width: 20rem;
  max-width: 32rem;
  height: 35rem;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 3.5fr;
  justify-self: center;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;

    &__formulario {
      width: 20rem;
      display: grid;
      height: 25rem;
      grid-template-rows: 1fr 1fr 4fr 1fr;

      .input1 {
        width: 100%;
        height: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .input1__nombre {
          width: auto;
          height: 50px;
          margin-top: 0px;
          margin-bottom: 18px;
        }

        .input1__telefono {
          width: auto;
          height: 50px;
          margin-top: 0px;
          margin-bottom: 18px;
        }
      }
    }

}


.input2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .input2__email {
    width: 100%;
    height: 50px;
    margin-bottom: 18px;
  }

  .input2__mensaje {
    width: 100%;
    height: 170px;
  }
  
  .input2__boton {
    color: $color-dark;
    width: 50%;
    height: 50px;
    border-radius: 20px;
    background-color: $color-primary;
    border-color: $color-primary ;
  }
}

input {
  border-radius: 10px;
  border-color: $color-bg-container;
  color: $color-dark; 
  border-width: 2px;
  background-color: $color-light;
  margin-top: 18px;
  margin-bottom: 18px;
}

.imagen-icono {
  width: 24px;
  height: 24px;
  align-self: center;
}




.subtitulo__contenedor {
  margin-bottom: 50px;
}

.linea-contacto1 {
  width: 20px;
  height: 3px;
  border-radius: 2px;
  background-color: $color-primary;
  margin-top: 0px;
  margin-bottom: 0px;
  justify-self: center;
  margin: 0 auto
}

.linea-contacto2 {
  width: 20px;
  height: 3px;
  border-radius: 2px;
  background-color: $color-primary;
  margin-top: 0px;
  margin-bottom: 0px;
}