.contactar {
  width: 20rem;
  height: 32rem;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 3.5fr;
  justify-self: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  z-index: 0;

  &__linea1 {
    width: 3rem;    
    border-width: 0.3rem;
    border-radius: 0.1rem;
    color: $color-primary;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-self: center;
    margin: 0 auto;
    z-index: 0;
  }


  &__linea2 {
    width: 3rem;    
    border-width: 0.3rem;
    border-radius: 2px;
    color: $color-primary;
    justify-self: start;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 0;
  }

  &__formulario {
    width: 20rem;
    height: 23rem;
    display: grid;
    grid-template-rows: 1fr 3.5fr;

    input {
      font: $paragraph-font;
      color: $color-dark;
      border-radius: 10px;
      border-color: $color-bg-container;
      color: $color-dark;
      border-width: 0.1rem;
      background-color: $color-light;
      padding-left: 1rem;
      
    }

    .input1 {
      width: 20rem;
      height: 3rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 0.2rem;

      &__nombre {
        width: 9.9rem;
        height: 3rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }

      &__telefono {
        width: 9.9rem;
        height: 3rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }

    .input2 {
      width: 20rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__email {
        width: 20rem;
        height: 50px;
        margin-bottom: 0.75rem;
      }

      &__mensaje {
        width: 20rem;
        height: 10rem;
      }

      &__boton {
        color: $color-dark;
        width: 10rem;
        height: 2.9rem;
        border-radius: 1.5rem;
        background-color: $color-bg-secondary; 
        border-color: $color-bg-secondary;      
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
  }

  .contactar__subtitulo {
    padding: 1rem 0;
  }
}

// input::placeholder{
//   margin-left: 1rem;
// }


@media (min-width: 768px) and (orientation:landscape) {

  .contactar {
    width: 26rem;
    height: 40rem;

    &__formulario {
      width: 26rem;
      height: 30rem;

      .input1 {
        width: 26rem;

        &__nombre {
          width: 12.9rem;
          margin-top: 0;
          margin-bottom: 0;
        }

        &__telefono {
          width: 12.9rem;
          margin-top: 0;
          margin-bottom: 0;
        }
      }

      .input2 {
        width: 26rem;

        &__email {
          width: 26rem;
        }

        &__mensaje {
          width: 26rem;
          height: 15rem;
        }

        &__boton {
          width: 15rem;
          height: 3.5rem;
          margin-top: 2rem;
          margin-bottom: 2rem;
        }
      }
    }
  }
}