.section__principal {
  width: 92%;
  min-width: 300px;
  max-width: 700px;
  display: grid;
  justify-self: center;
  align-items: center;
  margin: 0 auto;
}

.cards__container {
  width: 100%;
  height: 1000px;
  min-width: 300px;
  margin-top: 3rem;
  margin-bottom: 2.5rem;      
  display: grid;
  grid-template-columns: minmax(290px, 600px);
  grid-template-rows: repeat(3, minmax(330px, 460px));
  justify-self: center;    
  row-gap: 1rem;
}

.section__mas {
  width: 100%;
  min-width: 300px;
  height: 900px;
  margin-top: 2rem;

  display: grid;
  grid-template-columns: minmax(290px, 100%);
  grid-template-rows: 2fr 0.5fr 2.5fr;
  align-items: center;
  justify-items: center;
}

.frase__container {
  width: 100%;
  height: 100%;
  min-height: 290px;
  background-color: #BB8F70;
  border-radius: 30px 0px 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frase__parrafo {
  max-width: 80%;
  color: #F8F4EE;
  line-height: 2rem;
  text-align: center;
}

.linea__contenedor {
  width: 100%;
  height: 100%;
  grid-row: 2 / 3;
}

.linea__home {
  width: 90%;
  height: 0.2rem;
  border-radius: 2px;
  margin: auto auto;
  background-color: #E25821;
  margin-top: 3.5rem;
}

.info__container {
  width: 100%;
  grid-row: 3 / 4;
  justify-content: center;
  align-content: space-between;
  text-align: center;
  padding: 2rem 2rem;
}

.info__titulo {
  color: #E25821;
  margin-top: 1rem;
  margin-bottom: 2rem;
}


@media (min-width: 1200px) and (orientation:landscape) {
  .section__principal {
    width: 95%;
    max-width: 1200px;
    height: 550px;
  }
}