.principal__seccion {
  width: 92%;
  min-width: 19rem;
  max-width: 32rem;
  height: auto;
  display: grid;
  flex-wrap: wrap;
  justify-self: center;
  align-items: center;
  margin: 0 auto;

  .cards__contenedor {
    width: 100%;
    height: 62.5rem;
    min-width: 19rem;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    display: grid;
    grid-template-rows: repeat(3, minmax(20.5rem, 29rem));
    justify-self: center;
    justify-content: space-around;
    row-gap: 1.5rem;
  }
}

.mas {
  width: 100%;
  min-width: 19rem;
  height: auto;
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: minmax(18rem, 100%);
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  padding: 2rem 0 8rem 0;


  .frase__contenedor {
    width: 100%;
    height: 100%;
    max-height: 20rem;
    min-height: 18rem;
    background-color: $color-bg-container;
    border-radius: 2rem 0 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .frase__parrafo {
      max-width: 90%;
      color: $color-light;
      line-height: 2rem;
      text-align: center;
    }
  }
}

.separador {
  width: 100%;
  height: 100%;
  grid-row: 2 / 3;

  &__linea {
    width: 90%;
    height: 0.2rem;
    border-radius: 2px;
    margin: auto auto;
    background-color: $color-primary;
    margin-top: 2rem;
  }
}

.info__contenedor {
  width: 95%;
  grid-row: 3 / 4;
  justify-content: center;
  align-content: space-between;
  text-align: center;
  padding: 2rem 0;

  .info__titulo {
    color: $color-secondary;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .info__parrafo {
    width: 90%;
    max-width: 50rem;
    margin: 0 auto;
  }
}


@media (min-width: 768px) and (orientation:landscape) {

  main {
    .principal__seccion {
      width: 92%;
      max-width: 42rem;

      .cards__contenedor {
        height: 42rem;
        grid-template-columns: repeat(2, minmax(20.5rem, 34rem));
        grid-template-rows: 24rem 19rem;
        column-gap: 1rem;
        row-gap: 1rem;
      }

      .proyecto1__card {
        grid-column: span 2;
        grid-row: span 1;
      }

      .proyecto2__card {
        grid-column: span 1;
        grid-row: span 1;
      }

      .proyecto3__card {
        grid-column: span 1;
        grid-row: span 1;
      }
    }
  }

  .mas {
    height: 78rem;
    grid-template-rows: 1fr 0.5fr 4fr;
    padding-bottom: 6rem;

    .separador__linea {
      margin-top: 4rem;
    }

    .frase__parrafo {
      font-size: 1rem;
    }
  }

    .info__titulo {
      font-size: 1rem ;
    }

    .info__parrafo {
      font-size: 0.9rem;
    }
  }



@media (min-width: 1200px) and (orientation:landscape) {

  main {
    .principal__seccion {
      width: 95%;
      max-width: 80rem;
      height: 30rem;
      margin-bottom: 2rem;

      .cards__contenedor {
        width: 100%;
        max-width: 74rem;
        height: 22rem;
        grid-template-columns: repeat(3, minmax(20.5rem, 29rem));
        grid-template-rows: 23rem;
        column-gap: 1rem;       
  
        .proyecto1__card {
          grid-column: span 1;
          grid-row: span 1;
        }
      }
    }

    .mas {
      height: 76rem;

      .info__contenedor {
        width: 88%;
      }

      .separador__linea {
        margin-top: 5rem;
      }

      .info__parrafo {  
        width: 95%;     
        max-width: 95rem;
        margin: 0 auto;
      }
    }
  }
}