.proyectos {
  width: 95%;
  min-width: 19rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;

  &__contenedor {
    width: 95%;
    min-width: 19rem;
    max-width: 25rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 290px);
    row-gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    justify-self: center;
    padding: 0 1rem;
  }
}

@media (min-width: 768px) and (orientation:landscape) {
  .proyectos {
    width: 92%;
    max-width: 75rem;
    height: 90rem;

    &__contenedor {
      max-width: 75rem;
      height: 80rem;
      margin-top: 3rem;
      margin-bottom: 3rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      column-gap: 1rem;
    }
  }
}

@media (min-width: 1200px) and (orientation:landscape) {
  .proyectos {
    height: 62.5rem;

    &__contenedor {
      height: 44rem;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }


}