.proyecto1__card {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-image: url(../img/proyecto-tiempofuera-appnativa.jpg);
  background-size: 100% 100%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 95%;
  text-align: center;
}

.proyecto2__card {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-image: url(../img/proyecto-rediseño-apppacientes-clinicaprivadapueyrredon.jpg);
  background-size: 100% 100%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 95%;
  text-align: center;
}

.proyecto3__card {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-image: url(../img/mujer-haciendo-interfaz-aplicacion-moderna.jpg);
  background-size: 100% 100%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 95%;
  text-align: center;
}

.proyecto4__card {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-image: url(../img/manos-alto-angulo-sosteniendo-papel.jpg);
  background-size: 100% 100%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 95%;
  text-align: center;
}

.proyecto5__card {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-image: url(../img/vista-lateral-mano-sosteniendo-pieza-papel.jpg);
  background-size: 100% 100%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 95%;
  text-align: center;
}

.proyecto6__card {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-image: url(../img/mujer-haciendo-interfaz-aplicacion-moderna.jpg);
  background-size: 100% 100%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 95%;
  text-align: center;
}

.contenedoramarillo__card {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-color: #11453889;
  padding: 8rem 1rem 6rem 1rem;
}

.contenedormorado__card {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-color: #465856d0;
  padding: 8rem 1rem 6rem 1rem;
}

.proyecto__titulo {
  color: #000000;
  font-size: 0.9rem;
}

.btn {
  color: $color-acento;
  background-color: $color-bg-secondary;
  font: $subtitle-font;
  font-size: 1.7rem;
  font-weight: 500;
  width: 60%;
  max-width: 16rem;
  height: 3.5rem;
  border-radius: 1.5rem;
  text-align: center;
  padding: 0.5rem 0.7rem;
  margin-top: 1rem;
}


@media (min-width: 768px) and (orientation:landscape) {

  .proyecto1__card {
    &:hover {
      width: 102%;
      height: 102%;
      transition: all 2ms;
    }
  }

  .proyecto2__card {
    &:hover {
      width: 102%;
      height: 102%;
      transition: all 2ms;
    }
  }

  .proyecto3__card {
    &:hover {
      width: 102%;
      height: 102%;
      transition: all 2ms;
    }
  }

  .proyecto4__card {
    &:hover {
      width: 102%;
      height: 102%;
      transition: all 2ms;
    }
  }

  .proyecto5__card {
    &:hover {
      width: 102%;
      height: 102%;
      transition: all 2ms;
    }
  }

  .proyecto6__card {
    &:hover {
      width: 102%;
      height: 102%;
      transition: all 2ms;
    }
  }

  .contenedoramarillo__card {
    background-color: #11453889;
    opacity: 0;
    padding: 10rem 1rem;
  }

  .contenedormorado__card {
    background-color: #465856d0;
    opacity: 0;
    padding: 10rem 1rem;
  }

  .btn {
    font-size: 1.9rem;
  }
}


@media (min-width: 1200px) and (orientation:landscape) {

  .proyecto1__card {
    grid-column: span 1;
    grid-row: span 1;
  }

  .btn:hover {
    color: $color-bg-secondary;
    background-color: $color-primary;
    width: 101%;
  }

  .contenedoramarillo__card {
    padding: 8rem 1rem;

    &:hover {
      opacity: 100%;
    }
  }

  .contenedormorado__card {
    padding: 8rem 1rem;

    &:hover {
      opacity: 100%;
    }
  }  
}