.navbar {
  height: 9rem;
  background-color: $color-light;
  padding: 0;
  --bs-navbar-padding-X: 0;
  --bs-navbar-padding-y: 0;


  &-toggler {
    margin: 0 2rem;
    border-style: outset;
    color: $color-dark;
    font-size: 1.5rem;
    font-weight: 400;
  }

  &-brand {
    height: 9rem;
    padding: 2rem 0;

    .logo {
      width: 20vw;
      max-width: 6.5rem;
      height: auto;
      justify-self: center;
      align-self: center;
      opacity: 95%;
    }
  }

  &-collapse {
    width: 100vw;
    height: 100vh;
    background-color: $color-light;
    margin-top: 0;
    margin-right: 20vw;
    border-radius: 4px;
    z-index: 10;
  }

  .container {
    width: 100%;
    max-width: 100vw;
    height: 100%;
    align-self: center;
    background-color: $color-light;
    padding: 0;
  }

  .nav-item {
    background-color: $color-light;
    border-radius: 1.5rem;

    .activo {
      color: $color-bg-secondary;
      background-color: $color-bg-container;
      border-radius: 1.5rem;
    }
  }

  .nav-link {
    color: $color-dark;
    font: $subtitle-font;
    padding: 0.2rem 0.2rem 0.2rem 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    margin-right: 3rem;
    border-radius: 0.5rem;
  }

  .contacto {
    color: $color-primary;
    background-color: $color-bg-secondary;
    border-radius: 1.5rem;
    font-weight: 500;
    padding: 0.2rem 0.2rem 0.2rem 1rem;
    margin-top: 2rem;
    margin-bottom: 8rem;

    &__activo {
      color: $color-bg-secondary;
      background-color: $color-bg-container;
      border-radius: 1.5rem;
    }
  }
}

@media (min-width: 1200px) and (orientation:landscape) {

  .navbar {
    height: 11rem;
    padding: 0 auto;

    .logo:hover {
      &:hover {
        transform: rotate(360deg);
        transition: 0.8s;
      }
    }

    &-collapse {
      width: 100vw;
      height: 9rem;
      padding-top: 1rem;
      margin-right: 1rem;
      z-index: 10;
    }

    &-brand {
      padding: 1rem;
      margin-right: 0;

      &:hover {
        width: 10rem;
        height: 10rem;
        transition: all 2ms;
      }
    }

    .container {
      width: 98%;
      height: 9rem;
      margin: 0 auto;
    }

    ul .navbar-nav {
      height: 9rem;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }

    .nav-item {
      width: 10rem;
      height: 4rem;
      justify-items: start;
      align-items: center;
      padding-left: 0;

      .activo {
        color: $color-acento;
        background-color: $color-light;
      }

      .nav-link {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        text-align: center;
        margin: 0 auto;
        padding: 1rem 0.5rem;

        &:hover {
          color: $color-secondary;
          font-weight: 500;
          width: 105%;
          
          height: 105%;
          transition: all 2ms;
        }
      }
    }

    .contacto {
      width: 12rem;
      height: 4rem;
      color: $color-acento;
      background-color: $color-bg-secondary;
      align-self: center;
      padding: 0.5rem 0;
      margin: 1.5rem 1rem;
      font-weight: 500;
      border-radius: 2rem;
      text-align: center;
      justify-content: center;
      align-content: center;

      &:hover {
        width: 12.5rem;
        height: 4.5rem;
        color: $color-light;
        background-color: $color-bg-container;
        border-width: 0.3rem;
        border-width: 1rem;
        transition: all 2ms;
      }

      &__activo {
        color: $color-bg-secondary;
        background-color: $color-bg-container;
      }
    }
  }
}