.logo__img {
  width: 20vw;
  max-width: 128px;
  height: auto;
  max-width: 128px;
}

header {
  height: 14rem;
  background-color: $color-light;

  nav {
    font: $subtitle-font;

    i {
      padding-top: 1rem;
      padding-left: 0.4rem;
      color: $color-primary;
    }

    input {
      width: 10rem;
      height: 3rem;
      font-family: $font-primary;
      font-size: 1rem;
      color: $color-dark;
      font-weight: 400;
      padding-left: 0.5rem
    }

    .nav-link {
      color: $color-dark;

      &:hover {
        color: $color-bg-container;
        font-weight: 500;
      }
    }

    .activo {
      color: $color-primary;
    }

    .navbar-toggler {
      border-style: none;
      color: $color-primary;
      font-size: 1.5rem;

      &__icon {
        color: $color-primary;
        order: 1;
      }
    }

    .navbar-collapse {
      width: 60%;
      background-color: $color-light;
    }

    .contacto {
      color: $color-acentotomato;
      background-color: $color-bg-secondary;
      justify-content: end;
      font-weight: 500;
      padding-right: 3rem;
      padding-left: 3rem;
      border-radius: 2rem;
      text-align: center;

      &:hover {
        color: $color-bg-container;
        font-weight: 500;
      }
    }   
  }
}

 .buscar__campo {
    display: none;
    align-items: center;
}


@media (min-width: 1200px) and (orientation:landscape) {

  .buscar__campo {
    display: block;
    align-items: center;
  }

  .nav-item {
    margin-left: 0.5rem;
  }
}